body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: goldenrod;
  font-size: 20px;
}

#item-container {
  border: solid 5px green;
  padding: 20px;
  margin: 20px;
}
